@font-face {
  font-family: "Aeonik", sans-serif;
  src: url(../fonts/aeonik/AeonikTRIAL-Regular.otf); }
@font-face {
  font-family: "Aeonik", sans-serif;
  src: url(../fonts/aeonik/AeonikTRIAL-Bold.otf); }
@font-face {
  font-family: "Aeonik", sans-serif;
  src: url(../fonts/aeonik/AeonikTRIAL-Light.otf); }
@font-face {
  font-family: "Aeonik", sans-serif;
  src: url(../fonts/aeonik/AeonikTRIAL-RegularItalic.otf); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Aeonik", sans-serif; }

html {
  scroll-behavior: smooth; }

img {
  max-width: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  cursor: pointer; }

button {
  border: none;
  outline: none;
  cursor: pointer; }

body {
  background-color: #0E0E10;
  color: #ffffff; }

section {
  width: 100%;
  padding: 100px 0; }

.container {
  padding: 0 24px;
  width: 100%;
  margin: auto; }
  @media (min-width: 1148px) {
    .container {
      max-width: 1100px;
      padding: 0; } }

.waveBtn {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  padding: 16px 24px;
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid #888888;
  border-radius: 4px;
  width: fit-content;
  position: relative;
  overflow: hidden; }
  .waveBtn::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background: linear-gradient(91.94deg, #A2FACF -20.97%, #64ACFF 169.07%);
    border-radius: 4px;
    transition: all 1s;
    z-index: -1; }
  .waveBtn svg {
    transition: all 1s; }
  .waveBtn:hover {
    color: #000000; }
    .waveBtn:hover svg {
      transform: translateX(10px); }
      .waveBtn:hover svg path {
        stroke: #000000; }
    .waveBtn:hover::before {
      height: 100%; }

.commonHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 64px; }
  .commonHeading h2 {
    font-weight: 500;
    font-size: 56px;
    line-height: 124%; }
    .commonHeading h2 span {
      background-image: linear-gradient(91.94deg, #A2FACF -20.97%, #64ACFF 169.07%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: block; }
  .commonHeading a {
    font-weight: 400;
    font-size: 16px;
    line-height: 132%;
    color: #ffffff;
    position: relative;
    text-transform: uppercase; }
    .commonHeading a:hover {
      background-image: linear-gradient(91.94deg, #A2FACF -20.97%, #64ACFF 169.07%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      .commonHeading a:hover::after {
        background: linear-gradient(91.94deg, #A2FACF -20.97%, #64ACFF 169.07%);
        width: 100%; }
    .commonHeading a::after {
      content: '';
      transition: all 0.5s ease-in-out;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 1px;
      background: transparent; }

.commonLink {
  color: #ffffff;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  font-weight: 400;
  font-size: 16px;
  line-height: 132%;
  position: relative;
  margin-bottom: 10px;
  width: fit-content; }
  .commonLink:hover {
    background-image: linear-gradient(91.94deg, #A2FACF -20.97%, #64ACFF 169.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    .commonLink:hover::after {
      background: linear-gradient(91.94deg, #A2FACF -20.97%, #64ACFF 169.07%);
      width: 100%; }
  .commonLink::after {
    position: absolute;
    bottom: -10px;
    width: 50%;
    height: 1px;
    content: '';
    background: #ffffff;
    left: 0;
    transition: all 0.5s ease-in-out; }

@keyframes loadWave {
  0% {
    clip-path: polygon(0% 100%, 100% 100%, 99% 100%, 81% 100%, 64% 100%, 46% 100%, 29% 100%, 14% 100%, 0 100%); }
  10% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 90%, 84% 94%, 66% 95%, 47% 94%, 31% 95%, 14% 96%, 0 94%); }
  20% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 74%, 81% 72%, 63% 72%, 44% 75%, 33% 77%, 16% 78%, 0 74%); }
  40% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 53%, 85% 55%, 67% 58%, 44% 54%, 30% 48%, 15% 47%, 0 49%); }
  60% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 24%, 86% 25%, 69% 29%, 53% 34%, 37% 38%, 18% 40%, 0 38%); }
  80% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 22%, 84% 29%, 67% 31%, 45% 27%, 26% 17%, 12% 14%, 0 15%); }
  90% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 5%, 86% 10%, 73% 10%, 55% 6%, 33% 3%, 15% 5%, 0 9%); }
  100% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0, 86% 0, 71% 0, 55% 0, 34% 0, 18% 0, 0 0); } }

/*# sourceMappingURL=common.css.map */
